/* Navigation.css */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}

.navbar {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 15px 30px;
}

.nav-logo img {
  width: 100px;
  /* margin: 0 0 0 50px; */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin: 0 50px 0 0; */
}

.nav-links-button {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-links-button:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.nav-links-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 724px) {
  nav {
    width: 100%;
  }
  .navbar {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }

  .nav-links-button {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
  }

  .nav-logo img {
    display: none;
  }

  .nav-links-img {
    width: 15px;
    height: 15px;
  }

}